{% extends "layouts/base.html" %}

{% block content %}
  <div class="h-screen flex items-center justify-center">
    <div class="w-[300px] space-y-4">
      <a
        class="btn-primary w-full"
        hx-get="/fragment"
        hx-target="#target"
        hx-swap="innerHTML"
        hx-indicator=".htmx-indicator" 
      >
        Show something!
      </a>
      <div id="target" class="bg-accent rounded-xl p-4 aspect-square w-full flex items-center justify-center">
        <div class="htmx-indicator animate-spin">
          {% include "icons/loader.svg" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}